services:
    _defaults:
        autoconfigure: true
        autowire: false

    Terminal42\MailusernameBundle\EventListener\MailUsernameListener:
        arguments:
            - '@database_connection'
            - '@translator'
